@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose #목차 {
    @apply mb-0 w-fit rounded-t-md bg-slate-200 px-4 tracking-wider;
  }

  .prose #목차 + ul {
    @apply rounded-md rounded-tl-none border border-slate-200 py-2 pr-2;
  }

  .prose h2,
  .prose h3 {
    @apply scroll-mt-16 md:scroll-mt-20;
  }

  .prose mark {
    @apply bg-yellow-100;
  }

  .prose code:not(pre code) {
    @apply rounded-md bg-slate-200/80 px-1.5 py-0.5 before:content-none after:content-none;
  }

  .prose .callout p {
    @apply my-0;
  }

  .prose details summary {
    @apply my-2 cursor-pointer;
  }

  .prose blockquote > p {
    @apply before:content-none after:content-none;
  }
}

@layer components {
  .container-lg {
    @apply mx-auto max-w-screen-lg px-4 md:px-6 lg:px-8;
  }

  .bg-gradient-light {
    @apply bg-gradient-to-r from-indigo-50 via-purple-50 to-pink-50;
  }

  .bg-gradient-dark {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
  }

  .bg-gradient-text {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .bounce-move {
    animation: move 5s infinite;
  }

  .left-pipe {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 2px;
      height: 18px;
      transform: translateY(-50%);
      @apply bg-slate-200;
    }
  }

  @keyframes move {
    0% {
      transform: translate(0, -25%);
    }
    10% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-25%);
    }
    25% {
      transform: translateX(-100%);
    }
    30% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-25%);
    }
    50% {
      transform: translate(0, 0);
    }
    60% {
      transform: translateY(-25%);
    }
    70% {
      transform: translateY(0);
    }
    75% {
      transform: translateX(100%);
    }
    80% {
      transform: translateY(-25%);
    }
    90% {
      transform: translateY(0);
    }
    100% {
      transform: translate(0, -25%);
    }
  }
}
