@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose mark {
    @apply bg-yellow-100;
  }

  .prose code:not(pre code) {
    @apply rounded-md bg-slate-200/80 px-1.5 py-0.5 before:!content-[''] after:!content-[''];
  }

  .prose .callout p {
    @apply my-0;
  }
}

@layer components {
  .container-lg {
    @apply mx-auto max-w-screen-lg px-4 md:px-6 lg:px-8;
  }

  .bg-gradient-light {
    @apply bg-gradient-to-r from-indigo-50 via-purple-50 to-pink-50;
  }

  .bg-gradient-text {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
}
